/*  your css code here. If applicable */
.hero{
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
img{
	width: auto;
	height: 250px;
	object-fit: cover;
}
button{
	padding:10px;
	background-color: red;
	color: white;
	border-radius: 10px;
}
.cont2{
    margin: 20px;    
}